* {
	padding:0;
	margin:0;
	font-family: 'Quicksand', sans-serif;
	color: #333;
}
header {
	height:70px;
}
header h1 {
	display: inline-block;
	
	padding:15px 24px;
	text-transform: uppercase;
}

header h1 a:hover {
	color: #a59e5c;
}
header ul {
	float: right;
}
header ul li {
	padding:24px;
	display: inline-block;
}
header ul li a:hover {
	color: #a59e5c;
}
a {
	text-decoration: none;
}
.container {
	width:90%;
	margin:0 auto;
}
.container::after {
	content: '';
	display: block;
	clear: both;
}



.title {
	background-color: #434547;
    background-image: url(setup.png);
    background-size: cover;
    background-blend-mode: multiply;
    box-shadow: inset #454641;
	padding:150px 0;
}
section {
	padding:50px 0;
}
.title img {
	width: 200px;
	border-radius: 200px;
	margin-bottom: 10px;
}
.title h2,
.title p {
	color: rgb(255, 255, 255);
}
.title h2 {
	margin-bottom: 10px;
}
.title p {
	font-size: 18px;
}
.title-left {
	padding-left:24px;
}
img{
    border-radius: 200px;
}
h4{
    color: rgb(255, 255, 255);
}
section h3 {
	padding-bottom: 20px;
	text-align: center;
	margin:20px;
	position: relative;
}
section h3::before {
	content:'';
	display: block;
	position: absolute;
	bottom: 0;
	width:120px;
	height:1px;
	background-color: #ddd;
	left: calc(50% - 60px);
}
section h3::after {
	content:'';
	display: block;
	position: absolute;
	bottom: -1px;
	width:40px;
	height:4px;
	background-color: #a59e5c;
	left: calc(50% - 20px);
}
 p {
	text-align: center;
	text-indent: 30px;
	line-height: 25px;
	margin-bottom: 15px;
}
.sosmed ul li img{
    display: block;
    margin: auto;
    margin-top: 10px;
    
}
html {
	scroll-behavior: smooth;
}
